body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 15px;
    padding: 0;
}

.btn {
    background-color: #2ca25f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1a663b;
    cursor: pointer;
}
