.options {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

select {
    background-color: #2ca25f;
    color: white;
    border: 1px solid #1a5a1a;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

select:hover {
    background-color: #1a663b;
}

.currency-pair-options-container {
    display: flex;
    align-items: baseline;
}

.granularity-options-container {
    display: flex;
    align-items: baseline;
}

.granularity-tooltip {
    margin-left: 0.25rem;
    cursor: pointer;
}

.pricing-options-container {
    display: flex;
    align-items: baseline;
}

.pricing-options {
    display: flex;
    background-color: #2ca25f;
    border: 1px solid #1a5a1a;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

.pricing-options:hover {
    background-color: #1a663b;
    cursor: pointer;
}

input {
    cursor: pointer;
}

.date-range-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.date-range-options {
    background-color: #2ca25f;
    border-radius: 5px;
}

.error {
    border: 2px solid indianred;
}

button {
    margin-top: 3rem;
    background-color: #185143;
    border: #185143;
}

button:hover {
    background-color: rgb(14, 53, 44);
}

button.disabled {
    background-color: #8c989b;
    cursor: not-allowed;
}

button.disabled:hover {
    background-color: #677174;
}

.error-message {
    margin-left: 0.5rem;
    font-size: 12px;
    color: indianred;
}

.date-error-message {
    max-width: 8rem;
}

.warning-message {
    font-size: 14px;
    margin-top: 1rem;
    font-style: italic;
    max-width: 25rem;
}

.warning-message .error-message {
    color: indianred;
}

.instructions {
    margin-bottom: 3rem;
}

.candles-table {
    height: 17.5rem;
    overflow-y: auto;
    border: 2px solid darkslateblue;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
}

.candle-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
}

.spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: -0.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
