main {
    position: relative;
    text-align: center;
    height: 80vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

h1 {
    font-size: 24px;
}
